{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Gestion de Tickets </title>
</head>
<body>
    
    <nav>
        <ul>
            <li>
                <a href="{% url "index" %}"> Añadir Tickets </a>
            </li>
            <li>
                <a href="{% url "clienteEnEspera" %}"> Clientes en espera </a>
            </li>
            <li>
                <a href="{% url "clienteAtendidos" %}"> Clientes Atendidos </a>
            </li>
        </ul>
    </nav>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>