{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Lista de Tickets</h1>

    <a href="{% url 'anadir_ticket' %}" class="btn btn-primary">Crear Nuevo Ticket</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Cliente</th>
                <th>Prioridad</th>
                <th>Estado</th>
                <th>Fecha de Creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}  
                <tr>
                    <td>{{ ticket.id_ticket }}</td>
                    <td><a href="{% url 'atender_ticket' ticket.id_ticket %}">{{ ticket.titulo }}</a></td>
                    <td>{{ ticket.cliente }}</td>
                    <td>{{ ticket.prioridad }}</td>
                    <td>{{ ticket.estado }}</td>
                    <td>{{ ticket.fecha_creacion }}</td>
                    <td>
                        <a href="{% url 'atender_ticket' ticket.id_ticket %}" class="btn btn-sm btn-info">Ver Detalles</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">No hay tickets disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
